.Header {
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 50vh;
  width: 100%;
}
.imgNombre img {
  width: 100%;
}
.Menu {
  list-style: none;
  margin: 0;
  padding: 0;
}
.Menu li {
  display: block;
  padding: 10px;
}
.Menu li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 20px;
  font-family: "Courier New", Courier, monospace;
}

.Menu li a:hover {
  border-bottom: 1px solid black;
}
.linea {
  background: rgb(66, 160, 214);
}


@media (min-width: 425px) {
  .Header {
    height: 35vh;
  }
  .imgNombre img {
    width: 70%;
  }
  .Menu li {
    display: inline-block;
    padding: 10px;
  }
}
@media (min-width: 900px) {
  .imgNombre {
    width: 50%;
  }
  .containerMenu {
    width: 35%;
  }
  .imgNombre img {
    width: 90%;
  }
  .Header {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 25vh;
    
  }
  .Menu li {
    display: inline-block;
    padding: 10px;
  }
  .Menu li a {
    font-size: 20px;
  }
}

@media (min-width: 1024px) {
    .imgNombre {
        width: 50%;
      }
      .imgNombre img {
        width: 90%;
      }
      .containerMenu {
        width: 40%;
       
      }
}

@media (min-width: 1400px) {
    .imgNombre {
        width: 40%;
      }
      .imgNombre img {
        width: 90%;
      }
      .containerMenu {
        width: 35%;
      }

  .Menu li a {
    font-size: 20px;
    padding: 0px 15px;
  }
}

@media (min-width: 2000px) {
    .imgNombre {
        width: 40%;
      }
      .imgNombre img {
        width: 100%;
      }
      .containerMenu {
        width: 30%;
      }
  .Menu li a {
    font-size: 35px;
  }
}
