.Footer {
  width: 100%;
  background: black;
  height: 60vh;
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
}
.Footer h1 {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  text-align: center;
  padding: 10px 0px;
}
.Footer h5 {
  color: white;
  padding-top: 40px; 
  font-size: 10px;
}
.fa {
    padding: 10px;
    font-size: 20px;
    width: 40px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 10px;
    margin: 0px 10px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }

  .fa-instagram {
    background: rgb(230, 22, 109); 
    color: white;
  }
  .fa-facebook {
    background: #125688;
    color: white;
  }
 
  @media(min-width: 900px) {
    .Footer {

        height: 40vh;

      }
  }
  @media(min-width: 1400px) {
    .Footer {

        height: 30vh;

      }
  }