.titulo {
    margin-top: 40px;
    font-size: 30px;
    font-family: "Courier New", Courier, monospace;
}

.recetas {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: space-around;
    width: 80%;
}
.recetas div {
    width: 300px;
    height: 250px;
    margin: 50px 0px;
}
.recetas h1 {
    font-size: 20px;
    font-family: "Courier New", Courier, monospace;
    padding: 10px 0px;
}
.recetas img {
    width:100%;
    height: 100%;
}