.logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90%;
    margin: 0 auto;
}
.logos div {
    width: 200px;
    height: 200px;
    padding: 10px;
}
.logos div:hover {
    box-shadow: 10px 15px 20px rgb(0, 0, 0);
    transition: 1s;
}

.titulo {
    font-family: "Courier New", Courier, monospace;
    padding: 30px;
    font-size: 25px;
}
.logos div img {
    width: 100%;
    height: 100%;
}

@media(min-width: 1000px) {
    .logos {
        width: 80%;
    }
    .logos div {
        width: 150px;
        height: 150px;
    }
}