.recetas {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 80%;
    margin: 0 auto;
}
.recetas div {
    width: 30px;
    height: 30px;
    border: 1px solid black;
}

@media (min-width: 1000px) {
    .recetas {
        flex-direction: row;
    }
    .recetas div {
        width: 30px;
        height: 30px;
    }   
}