.altamiraSuite {
    width: 90%;
    margin: 0 auto;
    padding: 10px;
}
.altamiraSuite h1  {
    padding: 20px 0px;
    font-size: 40px;
}
.altamiraSuite h2 {
    padding: 20px 0px;
    font-size:30px;
}
.altamiraSuite p {
    text-align: justify;
    font-size: 20px;
}
.fechas {
    padding: 20px 0px;
    font-weight: bold;
}
.altamiraSuite img {
    width: 80px;
    height: 80px;
    border-radius: 30px;
}

@media(min-width:1000px) {
    .altamiraSuite {
        width: 50%;
    }
}