.heroGrego {
    display: flex;
    flex-direction: row;
}


@media screen and (max-width: 900px) {
    .hideimg {
        display: none;
    }
    .firstimg {
        width: 100%;
    }
}

@media screen and (min-width: 901px) {
    
.heroGrego img {
    width: 50%;
    height: 400px;
}
}

