* {
    margin: 0;
    padding: 0;
}
.heroChef img {
    width: 100%;
    height: 50vh;
}
.about{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.aboutImg {
    width: 100%;
}
.aboutImg img {
    width: 100%;
    padding: 30px 0px;
}
.aboutContent {
    width: 100%;
}
.aboutContent h1 {
    font-weight: bold;
    font-family: "Courier New", Courier, monospace;
    letter-spacing: 10px;
    font-size: 30px;
    padding: 35px 0px;
}
.aboutContent p {
    font-size: 20px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    padding: 5px 30px;
    text-align: center;
}
@media (min-width: 700px) {
    .about{
        flex-direction: row;
        align-items: center;
        width: 100%;
    }
    .aboutContent p {
    font-size: 16px;
    }
   
}
@media(min-width: 1000px) {
    .about{
        width: 80%;
        margin: 0 auto;
        padding-bottom: 30px; 
    }
    .aboutContent p {
        font-size: 16px;
        padding: 20px 0px 20px 20px;
        }
    .heroChef img {
        height: 80vh;
        padding-bottom: 50px;
    }
}

@media(min-width: 1400px) {
    .about{
       justify-content: space-between;
    }
    .aboutContent p {
        padding: 0px;
        font-size: 20px;
        padding: 20px;
    }
    .aboutContent h1 {
        letter-spacing: 10px;
        font-size: 50px;
    }    
    .aboutImg {
        width: 47%;
    }
    .aboutContent {
        width: 47%;
    }
}

@media(min-width: 2000px) {
    .aboutContent h1 {
        font-size: 70px;
    }  
    .aboutContent p {
        font-size: 40px;
    }
}