.recetasUn {
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90%;
    margin:0 auto;
}
.recetasUn div{
    width: 350px;
    border:2px solid black;
    background: url('../../assets/madera5.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
    border-radius: 30px;
    color: white;
}
.recetasUn div:hover {
    box-shadow: 8px 8px 8px rgb(159, 170, 165);
    transition: 1s;
}

.contenido {
    padding: 5px 0px;
}

.tituloRec {
    padding: 10px 0px;
    font-weight: bold;
}
